{
  "env": {
    "test": {
      "presets": [
        ["preact-cli/babel", { "modules": "commonjs" }],
        ["@babel/preset-typescript", { "jsxPragma": "h" }],
        "@babel/env"
      ],
      "plugins": [
        ["@babel/transform-react-jsx", { "pragma": "h" }]
      ]
    }
  }
}
