.card {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  display: inline-block;
  height: 300px;
  margin: 10px 30px;
  padding: 10px 50px;
  text-align: center;
  width: 400px;
}

.phrase {
  font-size: 30px;
  font-weight: bold;
}

.languageLabel {
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.korean {
  .english {
    display: none;
  }
}

.english .korean {
  display: none;
}
